/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */

/* Основной варитивный Inter */
@font-face {
  font-display: swap;
  font-family: "Inter-Variable";
  src: local("Inter-Variable"),
    url("./Inter-Variable.woff2") format("woff2 supports variations"),
    url("./Inter-Variable.woff2") format("woff2-variations");

  font-weight: 400 465 700 785;
}

/* Акцентный Press Start 2P */
@font-face {
  font-display: swap;
  font-family: "Press-Start-2P";
  src: local("Press-Start-2P"), local("Press-Start-2P-Regular"),
    url("./PressStart2P-Regular.woff") format("woff");
  font-weight: normal;
}
