/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font-family);
    font-variation-settings: "wght" var(--main-font-weight), "wdth" 116%;
    font-style: normal;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  /* Градиент */
  background-image: repeating-linear-gradient(
      to left,
      var(--gradient-squire-color),
      transparent 2px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--gradient-squire-color),
      transparent 2px
    ),
    linear-gradient(
      to bottom,
      var(--gradient-from-color),
      var(--gradient-before-color) 100%
    );
  background-size: cover;
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 100px 0;
  font-size: var(--main-text-font-size);
}

.header {
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  max-height: clamp(20.188rem, 19.219rem + 4.13vw, 22.938rem);
}

.content-width {
  max-width: clamp(23rem, 15.628rem + 31.46vw, 43.938rem);
}

.theme-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: clamp(7.5rem, 7.148rem + 1.5vw, 8.5rem)
    clamp(0.875rem, -1.469rem + 10vw, 7.531rem) 25px
    clamp(0.875rem, -1.469rem + 10vw, 7.531rem);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.theme-menu__button {
  border: 0;
  background-color: unset;
  font-size: var(--accent-text-font-size);
  cursor: pointer;
  position: relative;
  transition: ease 0.3s;
  text-transform: uppercase;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: arrow 0.5s ease-in-out infinite alternate-reverse;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: ease 0.3s;
  transform: scaleX(0);
  transform-origin: 0 0;
}

.theme-menu__button:focus {
  outline: 0;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

/* Секция main */
.main {
  margin-top: 100px;
}

.cards-section__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Стили карточки */
.card {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
}

.card__title {
  padding: 5px 0 5px 10px;
  font-variation-settings: "wght" var(--accent-font-weight);
  font-size: inherit;
}

.card__image-container {
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  position: relative;
  aspect-ratio: 1/1;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.filter-blur {
  filter: blur(5px);
}

/* Вотермарка */
.watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: var(--accent-text-font-size);
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
}

/* Проверка свойства text-stroke */
@supports (-webkit-text-stroke: 1px #fff) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
  }
}

.card__content-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__buttons {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 6px;
}

.card__icon-button {
  background-color: transparent;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 0;
  max-height: 38px;
}

.card__icon-button:focus {
  outline: 0;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.card__like-button {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  transition: 0.3s ease;
  padding: 9px 17px;
  min-width: 130px;
  min-height: 38px;
}

.card__like-button:focus {
  outline: 0;
}

/* Заливка тела лайка */
.like-icon .Body {
  fill: transparent;
  transition: fill 0.3s linear;
}

/* Покраска тела лайка при наведении */
.like-icon:hover .Body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

/* Покраска тела лайка при активном состоянии */
.like-icon:active .Body {
  fill: var(--main-like-color);
  transition: fill 0.3s 0.05s linear;
}

/* Крестик в лайке */
.like-icon .Core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

/* Покраска тела лайка при наведении */
.like-icon:hover .Core {
  fill: var(--accent-color);
  transition: fill 0.3s 0.03s linear;
}

/* Покраска тела лайка при активном состоянии */
.like-icon:active .Core {
  fill: var(--main-like-color);
  transition: fill 0.3s 0.03s linear;
}

/* Скрываем искры */
.like-icon .Sparks {
  transition: 0.3s 0.3s 2 ease-in;
  fill: transparent;
}

/* Анимации лайка при клике */
/* Покраска крестика при клике */
.like-icon.is-liked .Core {
  fill: var(--main-like-color);
  transition: fill 0.3s 0.03s linear;
}

/* Покраска тела лайка при клике */
.like-icon.is-liked .Body {
  fill: var(--main-like-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon .Contur {
  transition: fill 0.1s linear;
  fill: var(--like-contur-color);
}

/* Покраска контура при клике */
.like-icon.is-liked .Contur {
  fill: var(--main-like-color);
  transition: fill 0.3s 0.06s linear;
}

/* Анимация увелечения лайка при клике */
.like-icon.like-icon.is-liked .Heart {
  transition: 0.3s ease;
  transform-origin: center;
  animation: changeScale 0.3s 0.1s ease-in 1 alternate;
}

/* Анимация искр при клике */
.like-icon.like-icon.is-liked .Sparks {
  transition: 0.3s 0.3s ease-in;
  animation: sparksAnimation 0.3s 0.3s ease-in;
}

.button-hover {
  font-family: var(--accent-font-family);
  font-size: var(--accent-text-font-size);
  line-height: 90%;
  cursor: pointer;
  position: relative;
  transition: ease 0.2s 0.2s;
  background-color: transparent;
  z-index: 1;
}

.button-hover:hover {
  color: #fff;
}

.button-hover:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
}

.button-hover::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform-origin: 0 0;
  transition: linear 0.5s;
  transform: scaleX(0);
}

.button-hover:hover::before {
  animation: hoverEffect 0.5s ease-in-out;
  transform: scaleX(1);
}

.filter-contrast {
  filter: contrast(50%);
}

.filter-brightness {
  filter: brightness(200%);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(150%);
}

.filter-hue-rotate {
  filter: hue-rotate(-50deg);
}

.filter-mix {
  filter: contrast(129%) hue-rotate(-50deg) grayscale(0.3);
}

.footer {
  margin-top: 55px;
}

.footer__button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  font-family: var(--accent-font-family);
  font-size: var(--accent-text-font-size);
  cursor: pointer;
  padding: 18px 19px;
}

.footer__button:hover #floppy-svg {
  fill: white;
}

.footer__floppy-icon {
  width: 21px;
  height: 21px;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  max-width: clamp(21.313rem, 21.048rem + 1.13vw, 22.063rem);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  /* Что бы покрасить флопик */
  color: var(--accent-color);
}

.modal[open] {
  display: flex;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal__title-container {
  display: flex;
  gap: 20px;
}

.modal__floppy-icon {
  width: 39px;
  height: 39px;
}

.modal__title {
  font-family: var(--accent-font-family);
  font-size: var(--accent-text-font-size);
  color: var(--accent-color);
}

.modal__button {
  width: 100%;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  padding: 9px 17px;
  font-family: var(--accent-font-family);
  font-size: var(--accent-text-font-size);
  text-transform: uppercase;
  cursor: pointer;
  color: var(--accent-color);
}

@media (max-width: 375px) {
  .content-width {
    max-width: 100%;
  }

  .footer__button {
    flex-direction: column;
  }
}
