/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  font-variation-settings: "wght" var(--main-font-weight);
  font-style: normal;
  /* Градиент */
  background-image: repeating-linear-gradient(
      180deg,
      var(--gradient-squire-color),
      transparent 2px
    ),
    repeating-linear-gradient(
      90deg,
      var(--gradient-squire-color),
      transparent 2px
    ),
    linear-gradient(
      to bottom,
      var(--gradient-from-color),
      var(--gradient-before-color) 100%
    );
  background-size: cover;
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 100px 0;
  font-size: var(--main-text-font-size);
}

.header {
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.content-width {
  max-width: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
}

.theme-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: clamp(7.5rem, 7.148rem + 1.5vw, 8.5rem)
    clamp(0.875rem, -1.469rem + 10vw, 7.531rem) 25px
    clamp(0.875rem, -1.469rem + 10vw, 7.531rem);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 5px;
}

.theme-menu__button {
  border: 0;
  background-color: unset;
  font-size: var(--accent-text-font-size);
  cursor: pointer;
  position: relative;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}
.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -10px;
}

/* Секция main */
.main {
  margin-top: 100px;
}

/* Стили карточки */
.card {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
}

.card__title {
  padding: 3px 0 3px 10px;
  font-variation-settings: "wght" var(--accent-font-weight);
  font-size: inherit;
}

.card__image-container {
  position: relative;
}

.card__img {
  width: 100%;
  min-height: 696px;
  object-fit: cover;
  object-position: right;
  border-bottom: 2px solid var(--accent-color);
}

/* Вотермарка */
.watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: var(--accent-text-font-size);
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

/* Проверка свойства text-stroke */
@supports (-webkit-text-stroke: 1px #fff) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
  }
}

.card__content-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__buttons {
  align-self: end;
  display: flex;
  align-items: center;
  gap: 12px;
}

.card__like-button {
  background-color: unset;
  border: 0;
  cursor: pointer;
}

.card__button {
  font-family: var(--accent-font-family);
  font-size: var(--accent-text-font-size);
  border: 2px solid var(--accent-color);
  line-height: 90%;
  padding: 9px 17px;
  cursor: pointer;
}

.footer {
  margin-top: 55px;
}

.footer__button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  font-family: var(--accent-font-family);
  font-size: var(--accent-text-font-size);
  cursor: pointer;
  padding: 18px 19px;
}

.footer__floppy-icon {
  width: 21px;
  height: 21px;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  max-width: clamp(21.313rem, 21.048rem + 1.13vw, 22.063rem);
  background-color: var(--background-color);
}

.modal:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal__title-container {
  display: flex;
  gap: 20px;
}

.modal__floppy-icon {
  width: 39px;
  height: 39px;
}

.modal__title {
  font-family: var(--accent-font-family);
  font-size: var(--accent-text-font-size);
  color: var(--accent-color);
}

.modal__button {
  width: 100%;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  padding: 9px 17px;
  font-family: var(--accent-font-family);
  font-size: var(--accent-text-font-size);
  text-transform: uppercase;
  cursor: pointer;
  color: var(--accent-color);
}

@media (max-width: 375px) {
  .content-width {
    max-width: 100%;
  }
}
