/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

/* Светлая тема */
:root.theme-light {
  --main-font-weight: 400;
  --accent-font-weight: 700;

  --background-img-url: url("../images/background.png");
  --background-color: #fff;
  --accent-color: #000;
  --gradient-squire-color: #d3d3d3;
  --gradient-from-color: #e7e7e7;
  --gradient-before-color: #1a1a1a;
  --like-contur-color: var(--accent-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font-weight: 400;
    --accent-font-weight: 700;

    --background-img-url: url("../images/background.png");
    --background-color: #fff;
    --accent-color: #000;
    --gradient-squire-color: #d3d3d3;
    --gradient-from-color: #e7e7e7;
    --gradient-before-color: #1a1a1a;
    --like-contur-color: var(--accent-color);
  }
}

/* Темная тема */
:root.theme-dark {
  --main-font-weight: 465;
  --accent-font-weight: 785;

  --background-color: #000;
  --accent-color: #00cc14;
  --gradient-squire-color: #000;
  --gradient-from-color: #007f0c;
  --gradient-before-color: #004306;
  --like-contur-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font-weight: 465;
    --accent-font-weight: 785;

    --background-color: #000;
    --accent-color: #00cc14;
    --gradient-squire-color: #000;
    --gradient-from-color: #007f0c;
    --gradient-before-color: #004306;
    --like-contur-color: var(--accent-color);
  }
}
