/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Шрифты */
  --main-font-family: "Inter-Variable", sans-serif;
  --accent-font-family: "Press-Start-2P", monospace, sans-serif;
  --main-text-font-size: 18px;
  --accent-text-font-size: 14px;

  --main-like-color: #ff0000;
}
